*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: transparent;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 2.4em;
}

h4{
    font-size: 1.6em;
    color: #333;
}

.title .role{
    font-size: 2em;
    color: #333;
}

ul{
    list-style-type: none;
}

.container{
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    min-width: 50vw;
    width: 720px;
    height: fit-content;
    border: 2px solid #222;
    background-color: #f0f0f0;
}

.information{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid #222;
}

.title{
    max-width: 60%;    
}

ul.list-contact{
    padding-left: 5em;
    border-left: 2px solid #222;
}

.list-contact li{
    padding: 0.3em;
    font-size: 1.4em;
    color: #333;
}

.content{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.introduce{
    max-width: 65%;
    padding-right: 2em;
}

.intro p{
    margin: 2em 0;
    color: #333;
    font-size: 1.3em;
    text-align: justify;
}

.list-exp{
    margin-bottom: 2em;
}

.list-exp .item-exp{
    margin-top: 1.5em;
    color: #333;
}

.item-exp .role{
    color: #333;
    padding-right: 1em;
    margin-bottom: 0.2em;
    display: flex;
    justify-content: space-between;
}

.item-exp b{
    font-size: 1.4em;
}

.item-exp .company,
.item-exp .web{
    font-size: 1.3em;
    font-style: italic;
    font-weight: 500;
}

.item-exp .web b{
    font-size: 1em;
    font-style: italic;
    font-weight: 500;
}

.list-project,
.list-skill,
.learing .learing-school{
    margin: 2em 0;
    color: #333;
}

.list-project .role{
    margin: 0.2em 0;
    font-size: 1.4em;
    color: #333;
}

.list-project .framework{
    font-size: 1.4em;
    color: #333;
}

.list-project .desctiption{
    margin: 1em 0;
    font-size: 1.2em;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.4em;    
    font-weight: 600;
}

a:hover{
    text-decoration: underline;
}

.list-project b {
    font-size: 1em;
    color: #333;
}

.skill .sub-list{
    padding: 0.6em 0;
    font-size: 1.4em;
}

.skill .sub-list b{
    font-size: 1em;
}

.learing .major{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learing p{
    font-size: 1.4em;
    margin-bottom: 0.2em;
}

.learing .school{
    font-weight: bold;
    font-size: 1.6em;
    margin: 0.2em 0;
}

.learing b{
    font-size: 1em;
}

.list-certify{
    list-style-type: disc;
    margin-left: 2em;
}

.list-certify .item a{
    font-size: 1.4em;
    font-weight: 500;
    color: #333;
}

.list-certify .item{
    margin: 1.2em 0;
}